---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
		
	{# begin header #}
	{% include "partials/_header.html" %}
	{# end header #}

	{# begin main #}
	{% include "partials/_main.html" %}
	{# end main #}

	{# begin for-whom #}
	{% include "partials/_for-whom.html" %}
	{# end for-whom #}

	{# begin what-learn #}
	{% include "partials/_what-learn.html" %}
	{# end what-learn #}

	{# begin about #}
	{% include "partials/_about.html" %}
	{# end about #}

	{# begin instructors #}
	{% include "partials/_instructors.html" %}
	{# end instructors #}


{% endblock %}
