---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
		
	{# begin header #}
	{% include "partials/_header.html" %}
	{# end header #}

	{# begin main #}
	{% include "partials/_main.html" %}
	{# end main #}

	{# begin for-whom #}
	{% include "partials/_for-whom.html" %}
	{# end for-whom #}

	{# begin what-learn #}
	{% include "partials/_what-learn.html" %}
	{# end what-learn #}

	{# begin about #}
	{% include "partials/_about.html" %}
	{# end about #}

  {# begin photos #}
  {% include "partials/_photos.html" %}
  {# end photos #}

	{# begin instructors #}
	{% include "partials/_instructors.html" %}
	{# end instructors #}

	{# begin certificate #}
	{% include "partials/_certificate.html" %}
	{# end certificate #}

	{# begin graduates #}
	{% include "partials/_graduates.html" %}
	{# end graduates #}

	{# begin price #}
	{% include "partials/_price.html" %}
	{# end price #}

	{# begin contacts #}
	{% include "partials/_contacts.html" %}
	{# end contacts #}

	{# begin footer #}
	{% include "partials/_footer.html" %}
	{# end footer #}


{% endblock %}
