<div class="about js-navigation-section" id="about">
	<div class="about__inner inner">
		<h2 class="about__title title">О курсе “PILATES MATWORK 1”</h2>
		<p>
			Инструктор, тренер, преподаватель, специалист, наставник – это человек, который помогает и отвечает за правильное выполнение физических упражнений с целью оздоровления и приведения своего тела в совершенный вид. Идеальный претендент на это звание, как правило, разбирается в анатомии, знает принципы выполнения результативных упражнений, имеет практические и теоретические знания в области ЛФК, умеет работать с людьми и, даже, разбирается в психологии. В современной фитнес индустрии такие профессионалы встречаются редко, но они крайне необходимы!
			<a href="#" class="about__link">Прочесть подробнее о курсе >>></a>
		</p>
		<ul class="about__list">
			<li class="about__item">
				<div class="accordeon">
					<div class="accordeon__head js-accordeon-head">Практика (30%)</div>
					<div class="accordeon__body js-accordeon-body">
						<ul class="accordeon__list">
							{% for item in [
									"Инструкторам по пилатес, ЛФК и другим направлениям",
									"Фитнес - тренеру, желающему повысить свою квалификацию",
									"Людям, решившим освоить новую профессию",
									"Тем, кто следит за своим здоровьем и телом",
									"Танцовщикам",
									"Людям в возрасте с активной жизненной позицией"
								] %}
								<li class="accordeon__item">
									<p>
										{{ item }}
									</p>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</li>
			<li class="about__item">
				<div class="accordeon">
					<div class="accordeon__head js-accordeon-head">Теория (70%)</div>
					<div class="accordeon__body js-accordeon-body">
						<ul class="accordeon__list">
							{% for item in [
									"Инструкторам по пилатес, ЛФК и другим направлениям",
									"Фитнес - тренеру, желающему повысить свою квалификацию",
									"Людям, решившим освоить новую профессию",
									"Тем, кто следит за своим здоровьем и телом",
									"Танцовщикам",
									"Людям в возрасте с активной жизненной позицией"
								] %}
								<li class="accordeon__item">
									<p>
										{{ item }}
									</p>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</li>
		</ul>
		<div class="about__btn">
			<a href="#" class="btn btn_big" data-modal-control="modal-form">записаться на курс</a>
		</div>
	</div>
</div>