<footer class="footer">
	<div class="footer__inner inner">
		<div class="footer__content">
			<div class="footer__logo">
				<img src="./img/logo.png" alt="logo">
			</div>
			<div class="footer__text">
				<p>
					Первый пилатес институт  в России - основан в 2005 году
				</p>
			</div>
			<div class="footer__links">
				<a href="tel:+79150844763" class="footer__tel">
					+7 (915) 084-47-63
				</a>
				<a href="http://instagram.com" class="footer__inst">
					{{ mixins.icon('instagram') }}
				</a>
			</div>
		</div>
	</div>
</footer>