<form action="form.php" class="form js-form" method="POST">
	<h3 class="form__title">Запишитесь на курс</h3>
	<div class="form__start">Старт курса: <strong>15 октября (осталось 24 дня)</strong></div>
	<div class="form__start">Осталось: <strong>15 мест</strong></div>
	<div class="form__start"><strong>Адрес: г. Москва - Уточняется</strong></div>
	<div class="form__group">
		<div class="form__input-group form__input-group_column"><input type="text" class="form__input" name="name" placeholder="Имя"></div>
		<div class="form__input-group form__input-group_column"><input type="text" class="form__input" name="email" placeholder="Email"></div>
		<div class="form__input-group form__input-group_column"><input type="text" class="form__input js-phone-mask" name="phone" placeholder="Телефон" minlength="16"></div>
		<div class="form__submit">
			<button class="btn btn_wide js-btn-submit" type="submit">
				<span class="btn__text">записаться на курс</span>
			</button>
		</div>
	</div>
</form>