<div class="price js-navigation-section" id="price">
	<div class="price__inner inner">
		<h2 class="price__title title">Стоимость курса</h2>
		<div class="price__content">
			<div class="price__card price-card">
				<div class="price-card__top">
					При 100% предоплате за 30 дней до начала курса - скидка 10%
				</div>
				<div class="price-card__center">
					<div class="price-card__old">
						<div class="price-card__old-title">Полная стоимость курса:</div>
						<div class="price-card__old-price">17 900 Р</div>
					</div>
					<div class="price-card__new">
						<div class="price-card__new-title">Рассрочка без первого взноса</div>
						<div class="price-card__new-price">16 110 P</div>
					</div>
				</div>
				<div class="price-card__bottom"><span>* </span>При оплате курса полностью действует скидка 10%</div>
			</div>
			<div class="price__form">
				{# begin form #}
				{% include "partials/_form.html" %}
				{# end form #}
			</div>
		</div>
	</div>
</div>